# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional babel cache directory
.babel-cache

# Optional yarn cache directory
.yarn-cache
